<div Class="container">
  <div Class="card">
    <h1>Team Generator</h1>

    <ul class="list">
      <li *ngFor="let member of members">
        {{ member }}
        <button class="btn-primary" *ngIf="button" (click)="onDelete(member)">
          Delete
        </button>
      </li>
    </ul>

    <div class="col-auto my-3">
      <label for="Name" class="visually-hidden">Name</label>
      <input
        type="text"
        class="form-control"
        #name
        placeholder="Name"
        (input)="onInput(name.value)"
        [value]="newMemberName"
      />
    </div>

    <button class="btn btn-primary" (click)="AddMember()">Add</button>
    <div class="col-6 d-flex my-3">
      <label for="# of teams" class="visually-hidden"># of teams</label>
      <input
        #numberOfTeamsInput
        type="text"
        class="form-control"
        id="# of teams"
        placeholder="# of teams"
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams"
      />
      <button (click)="generateTeams()" class="btn btn-primary">
        Generate
      </button>
    </div>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
  <div *ngIf="teams.length" class="teams-container">
    <app-team *ngFor="let team of teams; let i = index" [team]="team" [i]="i">
    </app-team>
  </div>
</div>

<!-- 
<div class="d-grid col-3 mx-auto mb-3">
  <button class="btn btn-primary" type="button" routerLink="/about">
    Routing
  </button>
</div>

<router-outlet> </router-outlet>

************ Two Way Bindings ************
<div class="col-auto my-3">
  <label for="Name" class="visually-hidden">Name</label>
  <input type="text" class="form-control" [(ngModel)]="newMemberName" />
  <span>{{ newMemberName }}</span>
</div>

<app-template-driven-forms></app-template-driven-forms>
<app-forms></app-forms> -->
